@import "./slider.scss";
@import "./variables.scss";
@font-face {
  font-family: TT-Lakes;
  src: url(../fonts/TTLakes-Medium.ttf);
}

#app {
  background-color: #f8f8f8;
  font-family: TT-Lakes;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: $main-color;
  border-radius: 50%;
}

.exit {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.desktop__header {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 320px;
  height: 100%;
  background-color: white;
  &--top {
    margin: 0;
    padding: 22px 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    &-left {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    &-right {
      padding-left: 74px;
    }
  }
  &--mid {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-left: 26px;
  }
  &--bot {
    padding-top: 241px;
    &_social-media {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
      padding-left: 26px;
    }
    &_mail {
      padding-left: 26px;
    }
    &_number {
      padding-left: 26px;
      font-weight: 900;
      font-size: 24px;
    }
    &_lang {
      display: flex;
      flex-direction: row;
      padding-left: 26px;
      gap: 7px;
      padding-top: 30px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
@media (max-width: $desktop-width) {
  .desktop__header {
    display: none;
  }
}

.overlay__open {
  display: flex;
  top: 0;
  left: 0;
}

.header {
  background: white;
  width: 100%;
  border-bottom: 1px solid $secondary-color;
  @media (min-width: $desktop-width) {
    display: none;
  }
  &__navigation {
    display: flex;
    padding: 16px 24px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    &--left {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    &--links {
      display: flex;
      gap: 20px;
    }

    &--action {
      display: none;
      gap: 20px;
      @media (min-width: $tablet-width) {
        display: flex;
        align-items: center;
        justify-content: right;
      }
    }
  }
}

.main__menu {
  background-color: $main-content-color;
  &--header {
    display: flex;
    gap: 18px;
    padding-left: 0%;
    padding-top: 0px;
    font-size: 28px;
    font-weight: 700;
  }
  @media (min-width: $desktop-width) {
    padding-left: $mobile-width;
  }
}

.main__content {
  display: flex;
  padding-left: 0px;
  padding-top: 10px;
  flex-direction: column;
  gap: 20px;
  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
  &--text {
    padding-left: 20px;
    @media (min-width: $tablet-width) {
      display: none;
    }
    &-tablet {
      padding-left: 20px;
      display: none;
      @media (min-width: $tablet-width) {
        display: flex;
      }
      @media (min-width: $desktop-width) {
        display: none;
      }
    }
    &-desktop {
      padding-left: 20px;
      display: none;
      @media (min-width: $desktop-width) {
        display: flex;
      }
    }
  }
  &--img {
    justify-content: center;
    padding-top: 20px;
    display: flex;
    @media (min-width: $tablet-width) {
      display: none;
    }
    &-tablet {
      display: none;
      @media (min-width: $tablet-width) {
        display: flex;
        padding-right: 30px;
        padding-bottom: 40px;
      }
      @media (min-width: $desktop-width) {
        display: none;
      }
    }
    &-desktop {
      display: none;
      @media (min-width: $desktop-width) {
        display: flex;
        padding-right: 30px;
        padding-bottom: 40px;
      }
    }
  }
  &--brands {
    &-h {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      color: #7e7e82;
      padding: 16px;
      border-top: 1px solid #d9fff5;
      background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100);
    }
  }
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  @media (min-width: 1119px) {
    display: grid !important;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 224px);
    row-gap: 16px;
    column-gap: 32px;
  }
}

.swiper-slide {
  margin-right: 10px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 5px !important;
  border: black !important;
  display: flex !important;
  justify-content: space-between !important;
  @media (max-width: 1119px) {
    height: 80px !important;
    width: 300px !important;
  }
}

.swiper {
  margin-left: 0 !important;
  margin-right: 0 !important;
  overflow: hidden !important;
}

.mySwiper {
  height: 170px;
  &-slide__tech {
    height: 300px !important;
  }
  &-slide__price {
    height: 500px !important;
    gap: 10px;
  }
}

#swiper-price {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.swiper-transform {
  display: none;
  @media (min-width: $tablet-width) {
    display: block;
    &__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 110px;
      color: #7e7e82;
      &--item {
        width: 10%;
      }
    }
    &__main-content {
      background-color: white;
      display: flex;
      height: 80px;
      justify-content: space-between;
      align-items: center;
      border: #7e7e82;
      padding-right: 20px;
    }
  }
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}

.brand {
  padding-left: 10px;
}

.slider-h {
  padding-bottom: 90px;
  padding-left: 20px;
  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
  }
}

.circle {
  padding-right: 20px;
  &-tech {
    padding-top: 60px;
    padding-right: 20px;
  }
}

.slider-text-list {
  padding-left: 10px;
}

.order {
  padding-right: 10px;
}

.phone {
  width: $mobile-width;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 11;
  height: 100%;
  background-color: white;
  &.show {
    display: flex;
    flex-direction: column;
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 50px;
    position: relative;
    width: 320px;
    height: 100%;
    background-color: white;
  }
  &-header {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-left: 0%;
    padding-top: 0px;
    font-size: 28px;
    font-weight: 700;
  }
  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
}

.send {
  display: flex;
  padding-left: 130px;
  padding-top: 10px;
}

.chat {
  width: $mobile-width;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 11;
  height: 100%;
  background-color: white;
  &.show {
    display: flex;
    flex-direction: column;
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 50px;
    position: relative;
    width: 320px;
    height: 100%;
    background-color: white;
  }
  &-header {
    display: flex;
    align-items: center;
    gap: 18px;
    padding-left: 0%;
    padding-top: 0px;
    font-size: 28px;
    font-weight: 700;
  }
  &-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    gap: 20px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  &__bottom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #7e7e82;
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
    }
  }
}
