@import "./variables.scss";

.app {
  background: #f8f8f8;
  width: 100%;
}
li {
  list-style-type: none;
}

.header {
  background: rgb(255, 255, 255);
  width: 100%;
  border-bottom: 1px solid $secondary-color;
  @media (min-width: $desktop-width) {
    display: none;
  }
  &__navigation {
    display: flex;
    padding: 16px 24px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    &--left {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    &--links {
      display: flex;
      gap: 20px;
    }

    &--action {
      display: none;
      gap: 20px;
      @media (min-width: $tablet-width) {
        display: flex;
        align-items: center;
        justify-content: right;
      }
    }
  }
}
.services {
  &__header {
    padding-left: 12px;
    padding-top: 24px;
    border-left: 4px solid $secondary-color;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 700;
  }
  &__swiper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    padding: 16px 24px;
    width: 70%;
    &--button {
      background: white;
      border: 2px solid $secondary-color;
      padding: 10px;
      border-radius: 6px;
      font-size: 16px;
    }
  }
}

.desktop__header {
  width: 300px;
  height: 100%;
  &--top {
    @media (min-width: $desktop-width) {
      padding: 22px 30px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &--mid {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-left: 26px;
  }
  &--bot {
    padding-top: 241px;
    &_social-media {
      display: flex;
      flex-direction: row;
      gap: 16px;
      padding-left: 26px;
    }
    &_mail {
      padding-left: 26px;
    }
    &_number {
      padding-left: 26px;
      font-weight: bold;
      font-size: 23px;
      padding-top: 0;
    }
    &_lang {
      display: flex;
      flex-direction: row;
      padding-left: 26px;
      gap: 7px;
    }
  }
}
